extends layout

block content
  .container(style="margin-top:60px;")
    .row
      .span4
        h2 by Plays <small>30 days</small>
        - for dj in monthlyDJs
          small.pull-right ...with <strong>#{dj.plays}</strong> plays.
          include blocks/dj
      .span4
        h2 by Points
        - for dj in mostPoints
          small.pull-right ...with <strong>#{dj.points.dj}</strong> points.
          include blocks/dj
